
<p>
  <strong>name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>cohort:</strong>
  <%= @student.cohort %>
</p>


<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Destroy', student_path(@student),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete?' } %>